body{
  background: #2F4F4F;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color:black;
  /*border-left: 1px solid black;
  border-right: 1px solid black;*/
}
.major{
  background: white;
}
.main{
  border-bottom: 2px solid black;
}
.main img{
  width:;
  height:80px;
}
.main nav a{
  display:inline;
  text-decoration: none;
  float:right;
  padding:3px;
  font-size: 20px;
  padding-top: 40px;
  color:black;
}
 nav a:hover{
    color: blue;
}
.main2 h3{
  text-align: center;
  padding-top: 40px;
  font-family: open sans light;
  font-size: 30px;
  text-decoration: none;
  color:#313131;
}
.image img{
  padding-top: 10px;
  height:640px;
  width:959px;
}
.service h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 40px;
  color:#313131;
}
.service p{
  color:black;
}
.service h2{
  padding-top: 10px;
  font-size: 20px;
  color:black;
}
.service h5{
  padding-bottom: 5px;
  font-size: 15px;
  color:black;
  margin-right: 200px;
}
.service img{
  padding: 2px;
  width: 300px;
  height: 250px;
  padding-top: 20px;
  border: 0px;
}
.section1 {
  padding-top: 80px;
  padding-bottom: 40px;
  color:black;
}
.section1 h1{
  font-size: 20px;
}
.section2{
  padding-top: 40px;
  color:black;
  padding-bottom: 20px;
}
.section2 h1{
  font-size: 20px;
}
.footer{

  /*border-top: 2px solid black;*/
  background: #8FBC8F;
}
.footer h1{
  font-size: 20px;
  padding-top: 10px;
}
.footer form{
  padding-top: 20px;
}
.footer a{
  display:inline-list;
  text-decoration: none;
}
 a:hover{
  color:red;
}
body h5{
  text-align: center;
  padding-top: 15px;
}
.footer img{
  display: list;
  height: 30px;
  width:40px;
  padding-top: 40px;
  float:right;
  padding: 2px;
}
.footer a{
  padding-top: 10px;
  padding: px;
  display: inline;
  list-style: none;
  padding-left: 50px;
}
.footer h1,form{
  color:black;
}
